@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .input-style {
        @apply border p-2 rounded-md outline-none;
    }
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
